body {
  background: darkorchid;
  color: white;
  font-style: italic;
  text-align: center;
}

button {
  background: white;
  color: black;
  font-weight: bold;
}

#list {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-items: flex-start;
}

input {
  inline-size: 500px;
}

#editButton {
  background-color: orange;
}

#deleteButton {
  background-color: red;
}

#completeButton {
  background-color: green;
}